<h5 class='igx-typography__subtitle-1'>
  <b>We are also on GitHub</b>
</h5>

<section class="content__links">
    <a href="https://github.com/IgniteUI/igniteui-angular" target="_blank" class="content__link--github igx-typography__body-2">
      Ignite UI for Angular
    </a>
    <a href="https://github.com/IgniteUI/igniteui-cli" target="_blank" class="content__link--github igx-typography__body-2">
      Ignite UI CLI
    </a>
</section>

<article>
    <h1 class="igx-typography__subtitle-1">
      <b>Angular for Designers: From Sketch to Code in 1 Click</b>
    </h1>
    <p class='igx-typography__body-1'>
        We've bridged the gap between Sketch and Angular. Using our Sketch UI kits from Indigo.Design, craft beautiful experiences and generate pixel-perfect Angular code... all in one click!
        <br>
        <a href="https://www.infragistics.com/products/indigo-design?utm_source=StackBlitz&utm_medium=Project&utm_campaign=Indigo_Design&utm_term=19-01" target="_blank" rel="noopener noreferrer">
        www.infragistics.com/products/indigo-design</a>
      </p>
</article>
