<h1 class="igx-typography__h3 igx-primary-500-text">ARTV</h1>
<h2 class="igx-typography__h5 ">
  Watch movies and shows with friends on the permanent web...
  </h2>
  
<div class="discover-button">
  <a href="#create-room">
    <button igxButton="raised" igxRipple="white">Start Now</button>
  </a>
</div>

<p>
  An honest-to-God dApp and a proud member of the Arweave Permanent Web. We do not request or store 
  any personally identifying information, and we do not use cookies.
</p>

<h5 class='igx-typography__subtitle-1'>
  <b>Get Your Arweave Wallet With Free Tokens Inside!</b>
</h5>

<section class="content__links">
    <a href="https://arweave.com" target="_blank" class="content__link--github igx-typography__body-2">
      Wallet Creator
    </a>
    <a href="https://github.com/IgniteUI/igniteui-cli" target="_blank" class="content__link--github igx-typography__body-2">
      Learn More
    </a>
</section>